<img src="{{ picture }}" title="user avatar" alt="avatar" height="50" width="50" referrerpolicy="no-referrer"/></img>
<p>Logged in as user {{ name }} ({{ email }})</p>
<p>Thanks for viewing the OAuth2 demo!</p>
